
#uiroot {
    width: 35%;
    float: right;
}

canvas {  
    bottom: 0px;
    left: 0px;
    width: 60%;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-crisp-edges;
    image-rendering: crisp-edges;
}